{{ header }}
<div id="content" class="container">
  <div class="row">
    {{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="common-landpage-list" class="{{ class }}">
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>

      <div class="jumbotron p-4 p-md-5 mb-4 bg-light rounded">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h1 class="display-5">{{ heading_title }}</h1>
            <p class="lead text-muted mb-0">{{ text_tagline }}</p>
          </div>
          <div class="col-md-4 text-md-end mt-3 mt-md-0">
            <a href="{{ breadcrumbs|last.href }}" class="btn btn-primary btn-lg">{{ heading_title }}</a>
          </div>
        </div>
      </div>

      {% if pages %}
        <div class="row">
          {% for page in pages %}
            <div class="col-sm-6 col-md-4 mb-4">
              <div class="panel panel-default h-100">
                {% if page.thumb %}
                  <img src="{{ page.thumb }}" class="img-responsive" alt="{{ page.title }}">
                {% endif %}
                <div class="panel-body">
                  <div class="small text-muted">
                    {% if page.published_at %}{{ page.published_at|date("d M Y") }}{% endif %}
                  </div>
                  <h4 class="panel-title mt-1">{{ page.title }}</h4>
                  <p class="text-muted">{{ page.excerpt }}</p>
                  <a href="{{ page.href }}" class="btn btn-primary btn-sm">{{ button_view }}</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="row mt-4">
          <div class="col-sm-6 text-start">{{ pagination }}</div>
          <div class="col-sm-6 text-end">{{ results }}</div>
        </div>
      {% else %}
        <p>{{ text_no_results }}</p>
      {% endif %}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}
