{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card text-bg-light mb-3">
          <div class="card-body">
            <div class="card-title h5">{{ text_blog_views }}</div>
            <div class="display-6">{{ summary.views }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-bg-light mb-3">
          <div class="card-body">
            <div class="card-title h5">{{ text_blog_unique_views }}</div>
            <div class="display-6">{{ summary.unique_views }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-bg-light mb-3">
          <div class="card-body">
            <div class="card-title h5">{{ text_blog_likes }}</div>
            <div class="display-6">{{ summary.likes }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-bg-light mb-3">
          <div class="card-body">
            <div class="card-title h5">{{ text_blog_shares }}</div>
            <div class="display-6">{{ summary.shares }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-line-chart"></i> {{ text_blog_top_posts }}</h3>
      </div>
      <div class="panel-body">
        {% if top_posts %}
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>{{ column_title }}</th>
                  <th>{{ column_status }}</th>
                  <th>{{ text_blog_views }}</th>
                  <th>{{ text_blog_unique_views }}</th>
                  <th>{{ text_blog_likes }}</th>
                  <th>{{ text_blog_shares }}</th>
                  <th>{{ column_date }}</th>
                </tr>
              </thead>
              <tbody>
              {% for post in top_posts %}
                <tr>
                  <td>{{ post.post_id }}</td>
                  <td>{{ post.title }}</td>
                  <td>{{ post.status }}</td>
                  <td>{{ post.views }}</td>
                  <td>{{ post.unique_views }}</td>
                  <td>{{ post.likes }}</td>
                  <td>{{ post.shares }}</td>
                  <td>{{ post.published_at ?: post.date_added }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p>{{ text_no_results }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{{ footer }}
