{{ header }}
<div id="content">
  <div class="page-header">
    <div class="container d-flex justify-content-between align-items-center">
      <h1 class="mb-0">{{ heading_title }}</h1>
      <div>{{ language }}</div>
    </div>
  </div>

  <div class="container">
    <div class="card">
      <div class="card-header">
        <i class="fab fa-reamurcms"></i>&nbsp;&nbsp;{{ text_upgrade }}
      </div>
      <div class="card-body">
        {% if error_warning %}
          <div class="alert alert-danger alert-dismissible">
            <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        {% endif %}

        {% if success %}
          <div class="alert alert-success alert-dismissible">
            <i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        {% endif %}

        <p class="text-muted mb-4">{{ text_extensions_desc }}</p>

        <form action="{{ action }}" method="post" enctype="multipart/form-data">
          <fieldset class="mb-4">
            <legend>{{ text_extensions }}</legend>
            <div class="row">
              {% for module in modules %}
                <div class="col-md-4 col-sm-6 mb-2">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="modules[]" value="{{ module.code }}" id="module-{{ module.code }}">
                    <label class="form-check-label fw-bold" for="module-{{ module.code }}">{{ module.name }}</label>
                  </div>
                </div>
              {% endfor %}
            </div>
          </fieldset>

          <div class="d-flex justify-content-between">
            <a href="{{ admin_link }}" class="btn btn-light">{{ button_continue }}</a>
            <button type="submit" class="btn btn-primary">{{ button_install }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
